
  .separator{
    display:flex;
    align-items: center;
  }
  
   .line{
    height: 2px;
    flex: 1;
    /* background-color:gold; */
  }
  
  .separator h2{
    /* padding: 0 2rem; */
    /* color: #e8e6f0; */
    /* font-size: larger; */
    font-weight: bolder;
  }